$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'createidea/createidea.scss';
@import 'directives/ideaCard/ideaCard.scss';
@import 'directives/ideaVoter/ideaVoter.scss';
@import 'directives/simpleIdea/simpleIdea.scss';
@import 'ideas/ideas.scss';
@import 'main/main.scss';
@import 'user/user.scss';
@import 'modal/modal.scss';
@import 'navbar/navbar.scss';
@import 'styles/block.scss';
@import 'styles/card.scss';
@import 'styles/fonts.scss';
@import 'styles/ghost-box.scss';
@import 'styles/header.scss';
@import 'styles/image-icon.scss';
@import 'styles/list.scss';
@import 'styles/login.scss';
@import 'styles/muted-text.scss';
@import 'styles/search.scss';
// endinjector