
.Card {
  background-color: #fff;
  padding: 10px;
  height: 200px;
  color: #000;
  display: block;
  border-radius: 5px;
  border: 1px solid black;
}

.Card--link {
  color: #000;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 0px 15px 2px #ddd;
    text-decoration: none;
    color: #000;
  }
}