


.ImageIcon {

  .ImageIcon_Image {
      height: 150px;
      width: auto;
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .ImageIcon_Heading {
    color: white;
    margin-top:50px;
  }
}
