.Search--field {
  background-color: rgba(255, 255, 255, 0.5);
  border: 20px;
  height: 50px;
  font-size: x-large;
}

.Button{
  font-size: x-large;
}

.Button--create{
  background-color: #327781;
  border-color: #EEE;
  color: #EEE;
}

.Button--create:hover{
  background-color: #388590;
  border-color: #EEE;
  color: #EEE;
}

.Button--search{
  background-color: #8A9471;
  border-color: #EEE;
  color: #EEE;
}

.Button--search:hover{
  background-color: #95a07a;
  border-color: #EEE;
  color: #EEE;
}
