.Voter {
  .Voter_Back, .Voter_Destroy {
    padding: 2px 10px;
    margin: 5px;
    border: 0;
    background-color: transparent;
  }

  .Voter_Back {
    color: green;
    &:hover {
      color: #004400;
    }

    &.selected {
      color: #004400;
    }
  }

  .Voter_Destroy {
    color: red;
    &:hover {
      color: #7a0000;
    }
    &.selected {
      color: #7a0000;
    }
  }
}