<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">

    <simple-idea on-create="updateList(newIdea)"></simple-idea>
    <div class="container">
        <div class="row">
            <div class="container-fluid well">
                <h2>Search</h2>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchText" ng-change="search()"
                           placeholder="Start typing to begin searching..."/>
                </div>
            </div>
            <h2>Newest Ideas</h2>
            <section id="pinBoot">
                <idea-card ng-repeat="idea in ideas" idea="idea" class="List_Item white-panel"></idea-card>
            </section>

        </div>
    </div>

    <script src="app/ideas/responsivegrid.js"></script>


